@import url("http://fonts.googleapis.com/css?family=Lobster|Open+Sans:300");

body {
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

$brown: #b38b52;
$green: hsl(110, 30%, 48%);

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lobster', cursive;
}

.title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    $height: 500px;
    height: ($height + 100px);
    overflow: hidden;

    .title-bg {
        background-color: $brown;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: $height;
        transition: all 0.2s ease;
        &.right {
            background-color: $green;
        }
    }

    .logo {
        position: absolute;
        width: 250px;
        top: 20px;
        left: 50%;
        margin-left: -125px;
    }

    .center-axis {
        width: 1px;
        position: absolute;
        left: 50%;
        height: $height;
    }
}

.characters-layer {
    position: relative;
    top: 50px;
    left: -300px;
    width: 900px;
    height: 500px;
    transition: all 0.4s ease;

    &.right {
        left: -600px;
    }

    .character {
        position: absolute;
        &.scylla {
            top: 0;
            width: 350px;
            left: -10px;
        }
        &.lamp {
            $width: 120px;
            left: 470px;
            width: $width;
            margin-left: -$width/2+10px;
            bottom: 0;
            top: -50px;
        }
        &.coffee-table {
            $width: 220px;
            left: 470px;
            width: $width;
            margin-left: -$width/2+10px;
            bottom: 0;
        }
        &.spoike {
            width: 350px;
            right: -20px;
            top: 20px;
        }
    }
}

.main-column {
    $colwidth: 600px;
    position: absolute;
    top: 480px;
    left: 50%;
    width: $colwidth;
    margin-left: -$colwidth/2;
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    padding: 0;

    section, article {
        margin: 15px;
    }
}

.switcher {
    background-color: $green;
    text-align: center;
    transition: all 0.2s ease;
    &.right {
        background-color: $brown;
    }
    a {
        padding: 15px;
        display: block;
        width: 100%;
        height: 100%;
        color: white;
    }
}

.main-column {

    .spoike {
        &.left {
            display: none;
        }
        &.right {
            display: block;
        }
    }
    .scylla {
        &.left {
            display: block;
        }
        &.right {
            display: none;
        }
    }

}

