@import url("http://fonts.googleapis.com/css?family=Lobster|Open+Sans:300");
body {
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lobster', cursive; }

.title {
  background-color: #b38b52;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 500px;
  overflow: hidden; }
  .title .logo {
    position: absolute;
    width: 250px;
    top: 20px;
    left: 50%;
    margin-left: -100px; }

.main-column {
  position: absolute;
  top: 480px;
  left: 50%;
  width: 600px;
  margin-left: -300px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 0; }
  .main-column section, .main-column article {
    margin: 15px; }

.switcher {
  background-color: #629f56;
  text-align: center; }
  .switcher a {
    padding: 15px;
    display: block;
    width: 100%;
    height: 100%;
    color: white; }

.characters {
  position: relative;
  top: 50px;
  left: 50%;
  margin-left: -25%;
  width: 900px;
  height: 450px;
  transition: all 0.5s ease; }
  .characters.right {
    left: -50%;
    margin-left: 33%; }
  .characters .character {
    width: 350px;
    position: absolute;
    top: 0; }
    .characters .character.scylla {
      left: 0; }
    .characters .character.lamp {
      left: 50%;
      width: 120px;
      margin-left: -50px;
      bottom: 0;
      top: -50px; }
    .characters .character.coffee-table {
      left: 50%;
      width: 220px;
      margin-left: -100px;
      bottom: 0;
      top: auto; }
    .characters .character.spoike {
      right: 0; }

.main-column .spoike.left {
  display: none; }
.main-column .spoike.right {
  display: block; }
.main-column .scylla.left {
  display: block; }
.main-column .scylla.right {
  display: none; }
